<div class="mx-auto px-4 md:px-8 2xl:px-16">
    <div class="mb-4 bg-gray-50 pt-5 md:pt-6 lg:pt-7 pb-2 px-4 md:px-5 lg:px-7">
        <div class="flex justify-between items-center flex-wrap mb-5 md:mb-6">
            <div class="flex items-center justify-between -mt-2 mb-0">
                <h3
                    class="text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold text-heading"
                >
                    Flash Sale
                </h3>
            </div>
            <span>Time Over!</span>
        </div>
    </div>
    <div
        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-x-3 md:gap-x-5 xl:gap-x-7 gap-y-4 lg:gap-y-4 xl:gap-y-4 2xl:gap-y-4"
    >
        @if(loop){ @for (product of products.products; track product.id) {
        <app-flash-product [product]="product"></app-flash-product>
        } }
    </div>
</div>
