<app-full-width>
    <main class="relative flex-grow" >
        <div class="border-t border-b border-gray-300 text-center px-16 py-16 sm:py-20 lg:py-24 xl:py-32 flex items-center justify-center">
            <div>
                <span >

                    <img
                        alt="Looks like you are lost"
                        src="/asset/404.svg"


                    />
                    <noscript></noscript>
                </span>
                <h3 class="text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold text-heading">Looks like you are lost</h3>
                <p class="text-sm md:text-base leading-7 pt-2 md:pt-3.5 pb-7 md:pb-9">We can't find the page you're looking for</p>
                <a
                    class="text-[13px] bg-black md:text-sm lg:text-base leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 bg-heading text-white px-4 md:px-6 py-2.5 lg:py-3 hover:text-white hover:bg-gray-600 hover:shadow-cart rounded-lg"
                    routerLink="/"
                >
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M416 174.74V48h-80v58.45L256 32 0 272h64v208h144V320h96v160h144V272h64l-96-97.26z"></path>
                    </svg>
                    <span class="ltr:pl-1.5 rtl:pr-1.5">Go Home</span>
                </a>
            </div>
        </div>
        <div class="Toastify"></div>
    </main>
</app-full-width>
