<div class="mb-12  md:mb-14 xl:mb-16 px-2.5 grid grid-cols-2 sm:grid-cols-9 gap-4 md:gap-5 max-w-[1920px] mx-auto">
    <div class="mx-auto shadow-lg col-span-full sm:col-span-5">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/mens-collection">
            <span>
                <img
                    alt="Men's Collection"
                    src="asset/banner/banner-1.jpg"
                    class="h-full aspect-[2.5/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
    <div class="mx-auto shadow-lg col-span-1 sm:col-span-2">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/new-sports">
            <span>

                <img
                    alt="New Sports"
                    src="asset/banner/banner-2.jpg"
                    class="h-full aspect-[.96/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
    <div class="mx-auto shadow-lg col-span-1 sm:col-span-2">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/dress-women">
            <span>
                <img
                    alt="Dress Women"
                    src="asset/banner/banner-3.jpg"
                    class="h-full aspect-[.96/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
    <div class="mx-auto shadow-lg col-span-1 sm:col-span-2">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/exclusive-sunglasses">
            <span>
                <img
                    alt="Exclusive Sunglasses"
                    src="asset/banner/banner-4.jpg"
                    class="h-full aspect-[.96/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
    <div class="mx-auto shadow-lg col-span-1 sm:col-span-2">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/product-coupons">
            <span>
                <img
                    alt="Product Coupons"
                    src="asset/banner/banner-5.jpg"
                    class="h-full aspect-[.96/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
    <div class="mx-auto shadow-lg col-span-full sm:col-span-5">
        <a class=" group flex justify-center relative overflow-hidden" href="/collections/new-backpack">
            <span>

                <img
                    alt="New Backpack"
                    src="asset/banner/banner-6.jpg"
                    class="h-full aspect-[2.5/1]"
                />
            </span>
            <div
                class="absolute top-0 ltr:-left-[100%] rtl:-right-[100%]  w-1/2 z-5 block transform ltr:-skew-x-12 rtl:skew-x-12 bg-gradient-to-r from-transparent to-white opacity-40 ltr:group-hover:animate-shine rtl:group-hover:animate-shineRTL"
            ></div>
        </a>
    </div>
</div>
